
/* Universal Selector */
*{
    margin: 0px;
    /* background-color: #f5e661; */
}

/* Element Selector */
body{
    background-color: #e85959;
    /* color: aqua; */
    border: solid 2px black;
    padding: 10px;
    /* margin:0px; */
   
}
/* element selector */
h2{
    color: blue;
    background-color: #e8ef13;
    text-align: center;
    margin: 20px;

}
/* element selector */
h4{
    color: blueviolet;
    background-color: #15ed68;
    text-align: center;
    margin: 20px;
    font-size: 24px;
   
}
/* element selector */
div{
    width: 200px;
    height: 200px;
    background-color: #a3a2d4;
    font-size: 20px;
    object-fit: cover;
}
/* Grouping the element selector inside h1 the p get the properties */
h2 p{
    color: rgb(11, 19, 19);
    text-decoration:underline;
}