.one{
    height: 400px;
    width: 80vw;
    border:2px solid black;
    background-color: cyan;
}

#o1{
    height: 150px;
    width: 500px;
    min-width: 100px;
    max-width: 600px;
    border: 1px solid black;
    background-color: rgb(234, 109, 109);

}

#o2{
    height: 150px;
    width: 500px;
    min-width: 400px;
    border: 1px solid black;
    background-color: rgb(14, 240, 63);


}

.overflow{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: cyan;
    margin-top: 20px;
    overflow-x: scroll;
}