body{
     background-color:#94bfea;
}

div{
    background-color:#238790;
    color: aliceblue;
    padding: 10px;
    /* text-align: center; */
}

article header{
    color: aqua;
}
html div article{
    background-color: rgb(135, 142, 125);
    padding: 10px;

}

.c1{
    background-color:#456218;
    color: rgb(11, 210, 19);
}
.art>header,aside h4{
    background-color: #eb9696;
    color: rgb(71, 53, 56);
}

h5{
    background-color: bisque;
}
/* pseudo selector */
h5:hover{
    background-color: aqua;
    font-size: 30px;
}
